@model ReactionTypeCreateModel


<form asp-controller="AdminReactionType" asp-method="Create" method="post" enctype="multipart/form-data" id="create-reaction-type-form" class="p-5 w-50">
    <input type="file" id="upload-icon-input" accept="image/*" asp-for="Icon">
    <div>
        <div class="form-group">
            <label class="reaction-type h2 fw-bold" for="type">Type</label>
            <input type="text" class="form-control mt-2 reaction-type-input" placeholder="Reaction type..." asp-for="Type">
        </div>
    </div>
    <div id="upload-icon-drop-zone">
        <span id="upload-icon-drop-zone-label">Drag & Drop reaction type icon here</span>
    </div>
    <div class="mt-4">
        <button type="submit" class="btn btn-primary p-3">Create Reaction Type</button>
    </div>
</form>

<script>
    const iconFileUploadConfiguration = (() => {
        var iconFileInput = document.getElementById('upload-icon-input');
        var iconDropZone = document.getElementById('upload-icon-drop-zone');
        var iconDropZoneLabel = document.getElementById('upload-icon-drop-zone-label');

        iconDropZone.addEventListener('click', () => {
            iconFileInput.click();
        });

        iconFileInput.addEventListener('change', function () {
            rendericon(this.files[0]);
        });

        iconDropZone.addEventListener('dragover', function (e) {
            e.preventDefault();
            iconDropZone.classList.add('highlight');
        });

        iconDropZone.addEventListener('dragleave', function (e) {
            e.preventDefault();
            iconDropZone.classList.remove('highlight');
        });

        iconDropZone.addEventListener('drop', function (e) {
            e.preventDefault();
            iconDropZone.classList.remove('highlight');
            var droppedFile = e.dataTransfer.files[0];
            iconFileInput.files = e.dataTransfer.files;
            rendericon(droppedFile);
        });

        const rendericon = (file) => {
            var reader = new FileReader();

            reader.onload = (function (file) {
                return function (e) {
                    var fileType = file.type.split('/')[0];

                    if (fileType !== 'image') {
                        return;
                    }

                    iconElement = document.createElement('img');
                    iconElement.setAttribute('height', '400px');
                    iconElement.src = e.target.result;
                    iconDropZoneLabel.style.display = 'none';
                    iconDropZone.appendChild(iconElement);
                };
            })(file);

            reader.readAsDataURL(file);
        }
    })();
</script>