@using Microsoft.AspNetCore.Identity
@inject SignInManager<MeTubeUser> SignInManager
@inject UserManager<MeTubeUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MeTube.Web</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://getbootstrap.com/docs/5.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container-fluid d-flex justify-content-start">
        <div class="sidebar sidebar-expanded">
            <img src="~/images/icons8-less-than-100.png" class="sidebar-collapse-button" />
            <img src="~/images/greater-than-100.png" class="sidebar-expand-button d-none">
            <nav>
                <div class="sidebar-brand d-flex justify-content-center">
                    <img src="~/images/logo.png">
                </div>
                <hr class="hr-4 bg-primary-dark sidebar-navigation-divisor mx-auto" />
                @if (!SignInManager.IsSignedIn(User))
                {
                    <div class="sidebar-navigation-main-container">
                        <ul class="sidebar-navigation mt-3">
                            <li class="sidebar-navigation-item">
                                <a class="sidebar-navigation-link fw-bolder text-primary-dark" href="/">
                                    <img class="sidebar-navigation-icon" src="~/images/icons8-home-500.png" />
                                    <span>Home</span>
                                </a>
                            </li>
                            <li class="sidebar-navigation-item">
                                <a class="sidebar-navigation-link fw-bolder text-primary-dark" href="#">
                                    <img class="sidebar-navigation-icon" src="~/images/trend.png" /> <!-- CREDIT: https://www.flaticon.com/authors/lalawidi -->
                                    <span>Trending</span>
                                </a>
                            </li>

                            <li class="sidebar-navigation-item">
                                <a class="sidebar-navigation-link fw-bolder text-primary-dark" href="#">
                                    <img class="sidebar-navigation-icon" src="~/images/icons8-channel-100.png" />
                                    <span>Channels</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar-navigation-bottom-container">
                        <hr class="hr-4 bg-primary-dark sidebar-navigation-divisor mx-auto" />
                        <ul class="sidebar-navigation">
                            <li class="sidebar-navigation-item">
                                <a class="sidebar-navigation-link fw-bolder text-primary-dark" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">
                                    <img class="sidebar-navigation-icon" src="~/images/icons8-login-100.png" />
                                    <span>Sign in</span>
                                </a>
                            </li>
                            <li class="sidebar-navigation-item">
                                <a class="sidebar-navigation-link fw-bolder text-primary-dark" href="#" data-bs-toggle="modal" data-bs-target="#registerModal">
                                    <img class="sidebar-navigation-icon" src="~/images/icons8-register-90.png" />
                                    <span>Sign up</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                }

                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="sidebar-navigation-main-container">
                        <ul class="sidebar-navigation mt-3">
                            <li class="sidebar-navigation-item">
                                <a class="sidebar-navigation-link fw-bolder text-primary-dark" href="/">
                                    <img class="sidebar-navigation-icon" src="~/images/icons8-home-500.png" />
                                    <span>Home</span>
                                </a>
                            </li>
                            <li class="sidebar-navigation-item">
                                <a class="sidebar-navigation-link fw-bolder text-primary-dark" href="#">
                                    <img class="sidebar-navigation-icon" src="~/images/trend.png" /> <!-- CREDIT: https://www.flaticon.com/authors/lalawidi -->
                                    <span>Trending</span>
                                </a>
                            </li>
                        </ul>
                        <h5 class="sidebar-navigation-section-label fw-bold w-75">For you</h5>
                        <hr class="hr-4 bg-primary-dark sidebar-navigation-divisor mx-auto" />
                        <ul class="sidebar-navigation mt-3">
                            <li class="sidebar-navigation-item">
                                <a class="sidebar-navigation-link fw-bolder text-primary-dark" href="#">
                                    <img class="sidebar-navigation-icon" src="~/images/icons8-channel-100.png" />
                                    <span>Reacted Videos</span>
                                </a>
                            </li>
                            <li class="sidebar-navigation-item">
                                <a class="sidebar-navigation-link fw-bolder text-primary-dark" href="#">
                                    <img class="sidebar-navigation-icon" src="~/images/icons8-channel-100.png" />
                                    <span>Reacted Playlists</span>
                                </a>
                            </li>
                            <li class="sidebar-navigation-item">
                                <a class="sidebar-navigation-link fw-bolder text-primary-dark" href="#">
                                    <img class="sidebar-navigation-icon" src="~/images/icons8-channel-100.png" />
                                    <span>History</span>
                                </a>
                            </li>
                        </ul>
                        <h5 class="sidebar-navigation-section-label fw-bold w-75">Studio</h5>
                        <hr class="hr-4 bg-primary-dark sidebar-navigation-divisor mx-auto" />
                        <ul class="sidebar-navigation mt-3">
                            <li class="sidebar-navigation-item">
                                <a class="sidebar-navigation-link fw-bolder text-primary-dark" href="/Video/Create">
                                    <img class="sidebar-navigation-icon" src="~/images/icons8-channel-100.png" />
                                    <span>Post video</span>
                                </a>
                            </li>
                            <li class="sidebar-navigation-item">
                                <a class="sidebar-navigation-link fw-bolder text-primary-dark" href="#">
                                    <img class="sidebar-navigation-icon" src="~/images/icons8-channel-100.png" />
                                    <span>Create playlist</span>
                                </a>
                            </li>
                            <li class="sidebar-navigation-item">
                                <a class="sidebar-navigation-link fw-bolder text-primary-dark" href="/Channel/Details?channelId=@User.FindFirst("ChannelId")?.Value">
                                    <img class="sidebar-navigation-icon" src="~/images/icons8-channel-100.png" />
                                    <span>My channel</span>
                                </a>
                            </li>
                        </ul>
                        <vc:channel-subscriptions></vc:channel-subscriptions>
                        @if (User.IsInRole("Admin"))
                        {
                            <h5 class="sidebar-navigation-section-label fw-bold w-75">Administartion</h5>
                            <hr class="hr-4 bg-primary-dark sidebar-navigation-divisor mx-auto" />
                            <ul class="sidebar-navigation mt-3">
                                <li class="sidebar-navigation-item">
                                    <a class="sidebar-navigation-link fw-bolder text-primary-dark" href="#">
                                        <img class="sidebar-navigation-icon" src="~/images/generic_profile_photo.jpg" />
                                        <span>Channel Administration</span>
                                    </a>
                                </li>
                                <li class="sidebar-navigation-item">
                                    <a class="sidebar-navigation-link fw-bolder text-primary-dark" href="#">
                                        <img class="sidebar-navigation-icon" src="~/images/generic_profile_photo.jpg" />
                                        <span>Video Administration</span>
                                    </a>
                                </li>
                                <li class="sidebar-navigation-item">
                                    <a class="sidebar-navigation-link fw-bolder text-primary-dark" href="#">
                                        <img class="sidebar-navigation-icon" src="~/images/generic_profile_photo.jpg" />
                                        <span>Playlist Administration</span>
                                    </a>
                                </li>
                                <li class="sidebar-navigation-item">
                                    <a class="sidebar-navigation-link fw-bolder text-primary-dark" href="#">
                                        <img class="sidebar-navigation-icon" src="~/images/generic_profile_photo.jpg" />
                                        <span>Comment Administration</span>
                                    </a>
                                </li>
                                <li class="sidebar-navigation-item">
                                    <a class="sidebar-navigation-link fw-bolder text-primary-dark" href="/Admin/AdminReactionType/Index">
                                        <img class="sidebar-navigation-icon" src="~/images/generic_profile_photo.jpg" />
                                        <span>Reaction Administration</span>
                                    </a>
                                </li>
                            </ul>
                        }
                    </div>
                    <div class="sidebar-navigation-bottom-container">
                        <hr class="hr-4 bg-primary-dark sidebar-navigation-divisor mx-auto" />
                        <ul class="sidebar-navigation">
                            <li class="sidebar-navigation-item">
                                <a class="sidebar-navigation-link fw-bolder text-primary-dark" href="/Identity/Account/Logout">
                                    <img class="sidebar-navigation-icon" src="~/images/icons8-register-90.png" />
                                    <span>Sign out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                }
            </nav>
        </div>
        <div class="main-content main-content-collapsed">
            @RenderBody()
        </div>
    </div>

    <script>
        const sidebarCollapseButton = document.querySelector('.sidebar-collapse-button');
        const sidebarExpandButton = document.querySelector('.sidebar-expand-button');
        const sidebar = document.querySelector('.sidebar');
        const mainContent = document.querySelector('.main-content');

        sidebarCollapseButton.addEventListener('click', () => {
            sidebarCollapseButton.classList.add('d-none');
            sidebarCollapseButton.classList.add('sidebar-collapse-button-collapsed');
            sidebarExpandButton.classList.remove('d-none');
            sidebarCollapseButton.classList.remove('slide-right');
            sidebarExpandButton.classList.add('slide-left');

            sidebar.classList.remove('sidebar-expanded');
            sidebar.classList.add('sidebar-collapsed');

            mainContent.classList.remove('slide-right-content');
            mainContent.classList.add('slide-left-content');

            setTimeout(() => {
                mainContent.classList.add('main-content-expanded');
                mainContent.classList.remove('main-content-collapsed');
            }, 500);
        });

        sidebarExpandButton.addEventListener('click', () => {
            sidebarCollapseButton.classList.remove('d-none');
            sidebarExpandButton.classList.add('d-none');
            sidebarCollapseButton.classList.add('slide-right');
            sidebarExpandButton.classList.remove('slide-left');

            sidebar.classList.add('sidebar-expanded');
            sidebar.classList.remove('sidebar-collapsed');

            mainContent.classList.remove('slide-left-content');
            mainContent.classList.add('slide-right-content');

            setTimeout(() => {
                sidebarCollapseButton.classList.remove('sidebar-collapse-button-collapsed');
                mainContent.classList.remove('main-content-expanded');
                mainContent.classList.add('main-content-collapsed');
            }, 500);
        });
    </script>

    <partial name="_LoginModalPartial">
    <partial name="_RegistrationModalPartial">
</body>
</html>