body {
    font-family: 'Montserrat';
}

.bg-main {
    background-color: #84C3BE;
}

.bg-primary-light {
    background-color: #ebebeb;
}

.bg-primary-dark {
    background-color: #282828;
}

.bg-secondary-dark {
    background-color: #45322E;
}

.text-main {
    color: #84C3BE !important;
}

.text-primary-light {
    color: #ebebeb !important;
}

.text-primary-dark {
    color: #282828 !important;
}

.text-secondary-dark {
    color: #45322E !important;
}

.hr-2 {
    height: 2px;
}

.hr-4 {
    height: 4px;
}
