body {
    font-family: 'Montserrat';
}

.container-fluid {
    padding-left: 0 !important;
}

.bg-main {
    background-color: #84C3BE;
}

.btn-main {
    background-color: #84C3BE;
    color: #EBEBEB;
}

    .btn-main:hover {
        border: 10px solid #ebebeb;
    }

.bg-primary-light {
    background-color: #ebebeb;
}

.bg-primary-dark {
    background-color: #282828;
}

.bg-secondary-dark {
    background-color: #45322E;
}

.text-main {
    color: #84C3BE !important;
}

.text-primary-light {
    color: #ebebeb !important;
}

.text-primary-dark {
    color: #282828 !important;
}

.text-secondary-dark {
    color: #45322E !important;
}

.hr-2 {
    height: 2px;
}

.hr-4 {
    height: 4px;
}

.sidebar {
    height: 100vh;
    border-right: 1px solid #ebebeb;
    position: fixed;
    left: 0;
}

.main-content {
    height: 100vh;
    position: fixed;
    overflow-y: auto;
}

.sidebar-expanded {
    width: 15%;
    transition: width 0.5s;
}

.sidebar-collapsed {
    width: 5%;
    transition: width 0.5s;
}

    .sidebar-collapsed .sidebar-navigation {
        padding-left: 0;
    }

    .sidebar-collapsed .sidebar-navigation-link img {
        width: 30px;
        height: 30px;
        margin: auto;
    }

    .sidebar-collapsed .sidebar-navigation-link span {
        display: none;
    }

    .sidebar-collapsed .sidebar-navigation-bottom-container {
        width: 5%;
    }

.main-content-expanded {
    width: 95%;
    left: 5%;
    transition: width 0.5s;
}

.main-content-collapsed {
    width: 85%;
    left: 15%;
    transition: width 0.5s;
}

.sidebar-collapse-button, .sidebar-expand-button {
    width: 30px;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid #282828;
    position: fixed;
    background-color: #FFFFFF;
    left: calc(15% - 17px);
    top: 4%;
}

.sidebar-collapse-button-collapsed {
    left: calc(5% - 17px);
}

.sidebar-brand img {
    margin-top: 10px;
    width: 75px;
    height: 75px;
}

.sidebar-navigation {
    list-style: none;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar-navigation-main-container {
    max-height: 80vh;
    height: 80vh;
    overflow-y: auto;
}

.sidebar-navigation-bottom-container {
    position: fixed;
    bottom: 0;
    width: 15%;
}

.sidebar-collapsed .sidebar-navigation-section-label {
    display: none;
}

.sidebar-navigation-section-label {
    margin-left: 15px;
}

.sidebar-navigation-divisor {
    width: 90%;
}

.sidebar-navigation-item {
    padding: 10px 0px 10px 0px;
}

.sidebar-navigation-link {
    display: flex;
    justify-content: start;
    text-decoration: none;
    font-family: 'Montserrat';
}

.sidebar-navigation-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.main-content .search-bar-container {
    position: relative;
    width: 50%;
    margin: auto;
    margin-top: 15px;
}

    .main-content .search-bar-container .search-bar {
        width: 100%;
        padding: 10px calc(20px + 1.5%) 10px 15px;
        font-family: 'Montserrat';
        font-weight: bold;
        border-radius: 10px;
    }

    .main-content .search-bar-container .search-bar-icon {
        width: 28px;
        height: 28px;
        position: absolute;
        right: 1%;
        top: calc(20%);
    }

.main-content main {
    margin-left: 15px;
    margin-top: 25px;
}

.subscription-videos {
}

.trending-videos {
}

.random-videos {
    width: 95%;
}

.videos-row {
    display: flex;
    justify-content: space-between;
}

.video-card-link {
    color: #000000;
    text-decoration: none;
}

    .video-card-link:hover {
        color: #000000;
        text-decoration: none;
    }

    .video-card-link:focus {
        color: #000000;
        outline: none;
        text-decoration: none;
    }

.videos-card {
    max-width: 250px;
    min-width: 250px;
    border-radius: 5%;
    margin: 10px;
}

    .videos-card .videos-thumbnail {
        border-radius: 5% 5% 0 0;
        width: 250px;
        height: 250px;
    }

    .videos-card .videos-data {
        border-radius: 0 0 5% 5%;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }

    .videos-card .videos-channel-profile-picture {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid black;
    }

    .videos-card .videos-details {
        width: calc(100% - 65px);
    }

    .videos-card .videos-title {
        text-wrap: wrap;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .videos-card .videos-channel-name {
        margin-top: 5px;
    }

    .videos-card .videos-metrics {
        display: flex;
        justify-content: start;
    }

    .videos-card .videos-views {
    }


    .videos-card .videos-views-date-separator {
        background-color: #45322E;
        border-radius: 50%;
        width: 5px;
        height: 5px;
        margin: 7.5px 5px 0 5px;
    }

    .videos-card .videos-date {
    }

/* UPLOAD ZONE STYLES */
#upload-thumbnail-input,
#upload-icon-input,
#upload-video-input {
    display: none;
}

#upload-video-form {
    padding: 25px 50px 0 50px;
    height: calc(100vh - 50px);
}

#upload-thumbnail-drop-zone,
#upload-icon-drop-zone,
#upload-video-drop-zone {
    border: 8px dashed #ccc;
    border-radius: 25px;
    text-align: center;
    height: 400px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#upload-thumbnail-drop-zone-label,
#upload-icon-drop-zone-label,
#upload-video-drop-zone-label {
    font-size: 1.75rem;
    font-weight: bold;
}

#upload-thumbnail-drop-zone.highlight,
#upload-icon-drop-zone.highlight,
#upload-video-drop-zone.highlight {
    background-color: #eaf6ff;
}

#upload-thumbnail-drop-zone img,
#upload-icon-drop-zone img,
#upload-video-drop-zone video {
    height: 390px;
    width: 100%;
    border-radius: 25px;
}

.video-upload-container {
    margin-left: 15%;
}

textarea {
    resize: none;
}

.w-48 {
    width: 48%;
}

.w-95 {
    width: 95%;
}

.w-90 {
    width: 90%;
}

.video-title-label {
    font-size: 1.75rem;
    font-weight: bold;
}

.video-description-label {
    font-size: 1.75rem;
    font-weight: bold;
}

.video-title-input {
    font-size: 1.25rem;
}

.video-description-input {
    font-size: 1.25rem;
}

.left-side, .right-side {
    position: relative;
}

#upload-thumbnail-drop-zone {
    margin-top: 50px;
}

.button-holder {
    position: absolute;
    width: 100%;
    top: 90%;
}

.video-submit-button {
    padding: 25px;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
}

/* VIDEO WATCH */

.video-visualizer {
    width: 1280px;
    height: 720px;
}

.video-title-and-reactions {
    width: 1280px;
}

.video-reaction-type-card {
    margin-left: 10px;
    width: 100px;
    height: 55px;
    border-radius: 25px;
    background-color: #EBEBEB;
}

.video-metadata {
    width: 1280px;
}

.video-metadata-channel {
    display: flex;
    justify-content: flex-start;
}

.video-matadata-channel-profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.video-matadata-channel-data {
    margin-top: 10px;
    margin-left: 20px;
}


.video-matadata-channel-data h6 {
    margin-top: 10px;
}

.video-metadata-description {
    border-radius: 15px;
    padding: 15px;
    background-color: #EBEBEB;
}

/* ANIMATIONS */
.slide-left {
    animation-name: slide-left;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes slide-left {
    0% {
        left: calc(15% - 17px);
    }
}

@keyframes slide-left {
    100% {
        left: calc(5% - 17px);
    }
}

.slide-right {
    animation-name: slide-right;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes slide-right {
    0% {
        left: calc(5% - 17px);
    }
}

@keyframes slide-right {
    100% {
        left: calc(15% - 17px);
    }
}

.slide-left-content {
    animation-name: slide-left-content;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes slide-left-content {
    0% {
        left: calc(15%);
    }
}

@keyframes slide-left-content {
    100% {
        left: calc(5%);
    }
}

.slide-right-content {
    animation-name: slide-right-content;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes slide-right-content {
    0% {
        left: calc(5%);
    }
}

@keyframes slide-right-content {
    100% {
        left: calc(15%);
    }
}


/* RESPONSIVE */

@media screen and (max-width: 1720px) {
    .sidebar-collapse-button, .sidebar-expand-button {
        display: none;
    }

    .sidebar {
        width: 5%;
    }

    .main-content {
        width: 95%;
    }

    .sidebar .sidebar-navigation-link img {
        width: 30px;
        height: 30px;
        margin: auto;
    }

    .sidebar .sidebar-navigation-link span {
        display: none;
    }

    .sidebar .sidebar-navigation {
        padding-left: 0;
    }

    .sidebar .sidebar-navigation-bottom-container {
        width: 5%;
    }
}
